/*
*
* MMM-SimpleCountdown
*
* By Andy Briggs https://github.com/pharmot
* MIT Licensed.
*
*
*/
.MMM-SimpleCountdown-date {
  margin-bottom: 10px;
}

.MMM-SimpleCountdown-date:last-child {
  margin-bottom: 0;
}

.MMM-SimpleCountdown-date > * {
  padding: 0.2em 0.4em;
}
